.configPage{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: min-content;
  height: 100%;
}



.configPage h1{
  font-family: 'Minecraft', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-weight: bold;
}