.optionPickerItem{
  background-color: transparent;
    border: 3px solid #ffffff;
    outline: none;
    padding: 15px;
    border-radius: 15px;
    width: 150px;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
}

.optionPickerItem img{
  width: 100%;
}

.optionPickerItem span{
  color:white;
  font-size: 17px;
  font-weight: bold;
}

.optionPickerItem.selected{
  background-color: white;
  color: black;
}

.optionPickerItem.selected span{
  color:black;
}