.inputContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputBox{
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
}

.radioContainer{
    display: flex;
    align-items: center;
    gap: 5px;
}


.inputContainer.error label, .inputContainer.error .inputTitle{
    color:var(--error-color--)
}

.inputContainer .inputError{
    text-align: left;
    color: var(--error-color--);
    font-size: 15px;
}

.checkbox{
    cursor: pointer;
}

.inputContainer label{
    cursor: pointer;
    font-size: var(--input-font-size--);
}