.player{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

.player > div {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player img{
  height: 100%;
  margin: auto;
}

.playerMargin{
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;

}